<!-- ======= Top Bar ======= -->
<section id="topbar" class="d-none d-lg-block">
  <div class="container d-flex">
    <div class="contact-info mr-auto">
      <i class="icofont-envelope"></i><a href="mailto:info@ziasoft.tech">info@ziasoft.tech</a>
      <i class="icofont-phone phone-icon"></i> +1 (505) 560-8870
    </div>
    <div class="social-links">
<!--      <a href="#" class="twitter"><i class="icofont-twitter"></i></a>-->
<!--      <a href="#" class="facebook"><i class="icofont-facebook"></i></a>-->
<!--      <a href="#" class="instagram"><i class="icofont-instagram"></i></a>-->
      <a href="https://www.linkedin.com/company/ziasoft/" class="linkedin"><i class="icofont-linkedin"></i></a>
    </div>
  </div>
</section>
<header id="header" class="d-flex align-items-center">
  <div class="container d-flex align-items-center">
    <div class="logo mr-auto">
<!--      <h1 class="text-light"><a href="/">Zia<span>Soft</span></a></h1>-->
       <a href="/"><img src="/assets/img/ziasoft-logo.png" alt="" class="img-fluid"></a>
    </div>
    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li class="active"><a href="/#header">Home</a></li>
        <li><a href="/#about">About</a></li>
        <li><a href="/#services">Services</a></li>
        <li><a href="/#partners">Partners</a></li>
        <li><a href="/#contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
<!-- ======= End Top Bar ======= -->
