<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container">
    <div class="row content">
      <div class="col-lg-6">
        <h2>Your Trusted IT Partner</h2>
        <h3>ZiaSoft can help with your most challenging enterprise information technology needs</h3>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0">
        <p>
          ZiaSoft is a premier Information Technology service provider. We are a trusted reseller offering
          products, services, and training from a wide array of industry leading companies. We also offer
          customer services such as IT consulting, technology leadership, and custom software development.
        </p>
        <ul>
          <li><i class="ri-check-double-line"></i> Competitive pricing on leading IT Software and Hardware</li>
          <li><i class="ri-check-double-line"></i> Industry leading expertise in IT modernization</li>
          <li><i class="ri-check-double-line"></i> High quality training technology advising</li>
        </ul>
        <p class="font-italic">
          Contact ZiaSoft today to achieve IT Excellence within your organization.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- ======= End About Section ======= -->
