<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container">
    <div class="row content">
      <div class="col-lg-6">
        <img src="/assets/img/{{SoBest.png}}" class="img-fluid" alt="">
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0">
        <p>
          We will give you everything you need give your boring personality
          the jumpstart you need to be taken seriously by your peers.  You will
          become irresistable to those you find irresistable when you are are wearing
          a So Best T-Shirt.  It's going to be frickin awesome.
        </p>
        <ul>
          <li><i class="ri-check-double-line"></i> Shirts in multiple sizes</li>
          <li><i class="ri-check-double-line"></i> Car decals like you wouldn't believe</li>
          <li><i class="ri-check-double-line"></i> All kinds of other cool stuff that comes along with your new persona</li>
        </ul>
        <p class="font-italic">
          Contact So Best today to achieve T-Shirt and sticker Excellence.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- ======= End About Section ======= -->
