<!-- ======= Counts Section ======= -->
<section id="counts" class="counts">
  <div class="container">
    <div class="text-center title">
      <h3>ZiaSoft by the Numbers</h3>
      <p>We're making a serious impact across the IT Landscape.</p>
    </div>
    <div class="row counters">
      <div class="col-lg-3 col-6 text-center">
        <span data-toggle="counter-up">357</span>
        <p>Satisfied Customers</p>
      </div>
      <div class="col-lg-3 col-6 text-center">
        <span data-toggle="counter-up">4,023</span>
        <p>Orders Delivered</p>
      </div>
      <div class="col-lg-3 col-6 text-center">
        <span data-toggle="counter-up">20,463</span>
        <p>Hours Of Consulting</p>
      </div>
      <div class="col-lg-3 col-6 text-center">
        <span data-toggle="counter-up">15</span>
        <p>Hard Workers</p>
      </div>
    </div>
  </div>
</section>
<!-- ======= End Counts Section ======= -->
